<div class="container">
  <a class="link" href="home">Anasayfa | Kurumsal </a>
  <div class="col-12 title">
    <h3 class="p-1 mt-4 ms-4 text-light"> Fişek Kurumsal</h3>  
  </div>
  <div class="box">
    <div class="row">
      <div class="col-md-6 first mt-3">
        
        <img src="https://thumbs.dreamstime.com/b/image-view-typical-american-school-building-exterior-123934576.jpg" class="w-100">
        <p class="mt-2">
          Anaokulu ve İlkokul’dan başlayan öğrencilerine vermiş olduğu Mind Studio Eğitimi ile öğrencilerinin 5’li gelişimini destekleyerek, onları hayata hazırlamakta, yenilikçi eğitim sistemi anlayışının bir yansıması olarak öğrencilerin bütünsel gelişimini desteklemektedir.</p>
          
          <p>Teknolojik gelişime açık, geleceğe yön veren nesiller yetiştirmek için kodlama eğitimi vererek, problem çözebilen, sistematik düşünebilen nesiller yetiştirmeye devam etmektedir.</p>
      </div>
      <div class="col-md-6 second mt-3">
        <!-- Sağ kısım -->
        <h4> Fişek Kolejleri </h4>
        <p> 1990 yılında eğitimde rasyonel açılım ilkesi ile yenilikleri takip ederek, çağdaş bir eğitim anlayışı ile yola çıkmıştır. İstanbul’da 17, 1’i Bursa’da ve 1’i de Kocaeli’nde olmak üzere toplam 19 kampüste eğitim ve öğretim sunmaktadır. Anaokulu, ilkokul, ortaokul ve lise kademelerinde verdiği kaliteli eğitim ile öğrencilerinin bireysel potansiyellerini keşfetmelerini sağlamakta ve geleceğe yön veren nesiller yetiştirmeyi hedeflemektedir.</p>
        <p> Fişek Koleji, benimsediği 5’li Gelişim Sistemi’ni (zihinsel, fiziksel, psikolojik, sosyal ve akademik gelişim) Mizaç Merkezli Eğitim Modeli ile destekleyerek her yönden donanımlı, çağdaş, duyarlı, sorumluluk bilinci yüksek, sanatla ilgili, sosyal becerileri gelişmiş, iletişim becerileri güçlü, kendine güvenen, 21. yüzyıl becerileri ile donanmış tam bir dünya insanı yetiştirmeyi kendine görev edinmiştir.</p>
        <p> Dünya insanı yetiştirmek adına benimsediği iki yabancı dil eğitimi ile öğrencilerinin yabancı dil becerilerini desteklemekte ve FISEKMUS+, E-Twinning, FISAMUN gibi programlar ve yurt içi ve yurt dışı eğitim temalı geziler ile farklı kültürleri tanımalarını sağlamaktadır.</p>
        <p> Fişek Kolejleri güçlü akademik kadrosu, eğitime gönül vermiş idarecileri, yenilikçi yaklaşımı ile geçmişte olduğu gibi bugün ve gelecekte de Türkiye’nin en güçlü eğitim kurumlarından biri olarak emin adımlarla ilerlemektedir. </p>
      </div>
    </div>
  </div>
  <div class="boxThird">
    <div class="row">
      <div class="col-md-6 first mt-3">
         <h4> Misyon </h4>
          <p> ERA Kolejleri olarak; belirlediğimiz hedefler ve ilkeler doğrultusunda her yönden gelişmiş, kendisi, ailesi, çevresi, ülkesi, dünyası ve en geniş kapsamda insanlık için faydalı bireyler yetiştirmek öncelikli görevimizdir. </p>
          <p> Bu doğrultuda;</p>
          <ul class="lh-lg">
            <li>Araştırmaktan, öğrenmekten ve üretmekten zevk alan, çok yönlü düşünebilen,</li>
            <li>Yeniliklere açık, gelişmeleri yakından takip eden ve teknolojiyi aktif olarak kullanabilen,</li>
            <li>Özgür düşünceli, evrensel boyutta düşünce, bilim ve teknoloji üreterek insanlığın hizmetine sunabilen,</li>
            <li>Ana dilini doğru ve etkin kullanabilen; ana diline sahip çıkan,</li>
            <li>En az bir yabancı dili aktif olarak kullanabilen, Eleştirel düşünebilen, problemlerle karşılaştığında kaçmak veya sorumluluğu başkalarına bırakmak yerine çözüm üretebilen,</li>
            <li>Bilgiyi sadece aklında tutmayan, onu hayatına aktararak gerektiği durumlarda kullanmasını bilen bireyler yetiştirmeyi amaçlamaktayız</li>
          </ul>
          <h4> Vizyon </h4>
          <p>ERA Kolejleri olarak vizyonumuz; öğrenci odaklı eğitim ve öğretimle, yenilikçi yaklaşımla, akademik, bilimsel ve kültürel faaliyetlerle, sosyal sorumluluk projeleriyle kendi alanımızda öncü olmaktır.</p>
          <p> Güçlü akademik kadromuz, kendi ürettiğimiz zengin dokümanlarımız ile anaokulundan liseye kadar her kademede aydınlık nesiller yetiştirmek ve aydınlık bir gelecek sağlamak için azimle ve kararlılıkla çalışmaktayız.</p>
          <img src="https://media.istockphoto.com/id/1430114131/photo/college-students-taking-notes-during-class.jpg?b=1&s=170667a&w=0&k=20&c=rscql88NTx8Wo1F-7r1XOMjtRx_TGBBfj0l6VuVmvY8=" class="w-100">
      </div>
      <div class="col-md-6 second mt-3">
        <!-- Sağ kısım -->
        <h4> Hedeflerimiz ve İlkelerimiz </h4>
        <p> Fişek Kolejleri olarak verdiğimiz bütüncül eğitim ve öğretim ile öğrencilerimizin; </p>
        <ul class="lh-lg">
          <li>Sorumluluk bilinçlerinin gelişmesini, ülkelerine ve daha geniş çapta dünyaya değer katmalarını,</li>
          <li>Çevre bilinci ile donanmalarını, her canlının değerli olduğunu bilip yaşama haklarına saygı duymalarını,</li>
          <li>Bencillikten uzak olmalarını, kendileri için istediklerini/istemediklerini başkalarının da isteyeceğini/istemeyeceğini bilmelerini,</li>
          <li>Toplumsal değerleri önemsemelerini, korumalarını ve gelecek nesillere aktarmak için çalışmalarını,</li>
          <li>Geleneklere, kültürel mirasa, etik değerlere önem vermelerini; geçmişlerini tanımalarını ve geçmişten aldıkları değerleri koruyarak geleceğe aktarmalarını,</li>
          <li>Gerektiği durumlarda inisiyatif kullanabilmelerini, sorumluluk alabilmelerini ve liderlik vasıflarına sahip olmalarını,</li>
          <li>Sorgulayıcı bakış açısına sahip olmalarını, kendilerini doğru ve cesurca ifade edebilmelerini,</li>
        </ul>
        <p>Bu hedefler doğrultusunda, öğrenci - öğretmen - veli iş birliğiyle eğitim ve öğretim faaliyetlerimizi yürütmek temel ilkemizdir.</p>
        <h4 class="mt-4"> Bir FİŞEK Öğrencisi </h4>
        <ul class="lh-lg">
          <li>Önce, öğrenmenin bir ihtiyaç olduğunu öğrenir.</li>
          <li>Kazandığı bilgi ve becerinin hayat boyu kendisini mutlu edeceği bilinciyle gelecek kaygısı duymaz.</li>
          <li>Bilimsel düşünen, aydın, özgüveni gelişmiş, ekip içinde inisiyatif kullanabilen, girişimci ve yenilikçi bir birey olmak için çalışır.</li>
          <li>Gelecekte tercih edeceği mesleğini sever, verdiği hizmete ihtiyaç duyan insanlara karşı saygı vazgeçilmez düsturudur.</li>
          <li>Edindiği bilgileri gelecekte yer alacağı sektörün sosyal ekonomik gelişimine katkıda bulunmak için kullanır.</li>
          <li>Mezun olduktan sonra öğrenimini bir üst düzeyde sürdürmeyi ya da Türk ve Dünya ekonomisine yön veren kurum ve kuruluşlarda her seviyede görev almayı hedefler.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

