<div class="container">
  <ul class="navbar">
    <li><i class="fab fa-facebook facebook me-2" title="Bizleri Facebook'tan takip edebelirsiniz."></i></li>
    <li><i class="fab fa-instagram instagram me-2" title="Bizleri Instagram'dan takip edebilirsiniz."></i></li>
    <li><i class="fab fa-linkedin linkedin me-2" title="Bizleri LinkedIn'den takip edebilirsiniz"></i></li>
    <li><i class="fab fa-pinterest pinterest me-2" title="Bizleri Pinterest'den takip edebilirsiniz"></i></li>
    <li class="hone"><i class="fa fa-phone me-2"></i></li>
    <li class="phone">111-22-33</li>
  </ul>
  <ul class="navbar secondSection">
    <li>Ön Bilgi Formu | </li>
    <li>Fişek Blog | </li>
    <li>Fişek'den Haberler | </li>
    <li>Fişel İK | </li>
    <li><button type="button" class="btn btn-success rounded-pill"> Online Sınav</button></li>
  </ul>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary mt-1">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Fişek School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-5">
          <a class="nav-link FK" routerLink="kurumsal">Kurumsal</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link FE" routerLink="eğitim">Eğitim</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link FA" routerLink="success">Başarılarımız</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link FI" routerLink="iletişim">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link FK" routerLink="kampüs">Kampüsleri</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
