<div class="container">
  <a class="link" href="home">Anasayfa | Eğitim </a>

<h2 class="mt-4"> EĞİTİMİN BİR NUMARALI ADRESİ FİŞEK SCHOOL</h2>
<div class="box">
  <h3> Fişek Eğitim Modelleri </h3>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eos ipsum vitae deserunt autem eaque distinctio praesentium earum similique fugiat magni, totam aut dolorum optio doloremque qui corrupti modi debitis? </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, officia pariatur molestias cumque totam quod sunt iste tenetur dignissimos similique? Quas, laudantium asperiores quo eos laborum illo nesciunt aperiam sint!</p>
  <hr>
  <div class="row">
    <div class="col-md-6">
 
      <img src="https://media.istockphoto.com/id/1263424631/photo/e-learning-online-education-or-internet-encyclopedia-concept-open-laptop-and-book-compilation.jpg?b=1&s=612x612&w=0&k=20&c=HygElgW-OETIQmGGb2IBFmuN6nuBG2G27cp6Thta1fA=" class="w-100 animate__animated animate__fadeInLeft">
    </div>
    <div class="col-md-6">
      <h3 class="animate__animated animate__fadeInRight"> Fişek Mizaçlı Eğitim</h3>
      <p class="animate__animated animate__fadeInRight lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium error possimus eius minima exercitationem enim libero repellendus placeat. Necessitatibus nulla exercitationem perferendis unde vero a facere aspernatur, totam aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusantium saepe officia repellat. Asperiores, nam libero. Minus sed distinctio quis repudiandae cum natus facilis qui eveniet, provident quo quasi numquam?</p>
      <p class="animate__animated animate__fadeInRight lh-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro distinctio quo excepturi illum quaerat nesciunt repellendus reiciendis voluptatibus tempore harum repudiandae numquam sequi, laboriosam natus, tempora tenetur nam, necessitatibus nemo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste quaerat dolorem temporibus, nulla rerum dolores sit officiis error modi deserunt adipisci reiciendis est ab voluptas, officia omnis cum voluptatum?</p>
    </div> 
 <hr>

     <h3 class="animate__animated animate__fadeInLeft">5G'li Fişek Sistemi </h3>
    <p class="animate__animated animate__fadeInLeft lh-lg"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae illo mollitia natus doloribus iusto ut eveniet quam nulla excepturi similique porro, optio ad officiis? Sint vero corrupti eius tempore illo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, possimus incidunt debitis maiores molestias ratione deserunt esse tempore officiis repellat neque illum aperiam harum quod aliquid animi deleniti ipsa facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, libero distinctio aspernatur minus dignissimos quae eius expedita earum incidunt obcaecati iure ex similique autem numquam beatae soluta nihil repudiandae nostrum.</p>
    <p class="animate__animated animate__fadeInLeft lh-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel sequi deserunt ab veniam quo animi aspernatur voluptatum officia, aut assumenda quas iure, odio voluptate sunt enim, ipsam facere incidunt neque.</p>
 <hr>
    <div class="row">
      <div class="col-md-6">
   
       <img src="https://achievevirtual.org/wp-content/uploads/2018/05/Technology-in-the-classroom.jpg" class="w-100 animate__animated animate__fadeInLeft">
        <ul class="animate__animated animate__fadeInLeft mt-3">
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quasi obcaecati facilis consectetur provident reprehenderit officiis beatae dolor deserunt! Debitis asperiores molestias molestiae aut obcaecati perspiciatis reiciendis, repellendus vitae enim!</li>
          <li class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nemo eum nostrum illum voluptatibus necessitatibus recusandae odit quibusdam quia nesciunt voluptas facere hic, quas magnam maxime libero exercitationem, eius aut.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 style="text-decoration:underline;" class="animate__animated animate__fadeInRight"> Fişek Danışmanlık </h3>
        <p class="animate__animated animate__fadeInRight lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium error possimus eius minima exercitationem enim libero repellendus placeat. Necessitatibus nulla exercitationem perferendis unde vero a facere aspernatur, totam aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusantium saepe officia repellat. Asperiores, nam libero. Minus sed distinctio quis repudiandae cum natus facilis qui eveniet, provident quo quasi numquam?</p>
        <ul class="animate__animated animate__fadeInRight">
          <li class="mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat ipsam, asperiores id quis accusantium temporibus vitae excepturi laboriosam nulla nam, voluptatibus aperiam?</li>
          <li class="mt-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique molestiae, eos enim illo ipsum commodi, cum aspernatur fugit et labore quasi quaerat sit ad pariatur.</li>
          <li class="mt-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, possimus? Molestias iusto quasi placeat, voluptatibus sit dolore suscipit tempore rerum consequuntur?</li>
          <li class="mt-2"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis maxime aliquam debitis quod quo quaerat animi laborum molestiae itaque tenetur repudiandae magni, amet iusto, iure voluptatibus?</li>
          <li class="mt-2"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi veniam porro mollitia temporibus voluptates suscipit alias harum tempore quia quidem?</li>
        </ul>
        </div>
      </div> 
   <hr>

   <h3 class="animate__animated animate__fadeInUp">Fişek  Ölçme ve Değerlendirme</h3>
  <p class="animate__animated animate__fadeInUp lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ut veritatis totam, corrupti, enim exercitationem, distinctio magni atque maiores quo soluta asperiores eveniet quos tempora a cumque nisi voluptatum rem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos inventore ea voluptas explicabo quas aspernatur amet incidunt expedita, officiis mollitia quo. Vel sed explicabo illum reprehenderit quae necessitatibus ea laudantium?</p>
  <p class="animate__animated animate__fadeInUp lh-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est voluptatum harum sapiente illum laboriosam cumque mollitia assumenda voluptas corporis, necessitatibus sit. Delectus deserunt cupiditate alias, reiciendis quidem pariatur at consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita enim earum quod minima, odit autem voluptatem placeat rem, distinctio esse, nostrum maxime nulla ipsa laborum tempora cupiditate doloribus ratione.</p>

  <hr>

 <div class="row">
  <div class="col-md-6">
    <img src="https://www.weareteachers.com/wp-content/uploads/teacher-stock-reading-800x428.jpg" class="w-100 animate__animated animate__fadeInLeft"> 
  </div>
  <div class="col-md-6">
    <h3> Fişekle Sınava Hazırlık </h3>
    <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti placeat incidunt enim quod ea itaque sit tempore sapiente eius provident pariatur, quae, veritatis ad. Sed voluptas in adipisci. Adipisci, facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita labore unde, dolorum sapiente ex a nihil officiis, atque accusamus delectus accusantium doloribus, laborum sunt. Nihil veniam et adipisci ipsam! Cupiditate.</p>
    <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate ex fuga, eveniet reprehenderit inventore aliquid nobis odio cupiditate quisquam ipsam ipsum omnis! Ea facere ipsa id animi natus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, nesciunt quos veritatis dignissimos reprehenderit ad placeat consequatur cupiditate vero quis magni voluptatem maxime repellendus eius voluptas harum maiores veniam! Mollitia.</p>

  </div>
 </div>
 
 
 
 
    </div>

</div>















</div>